<ng-container *ngIf="categoriesData">
  <div class="price py-5">
    <div class="container">
      <h3 class="price-title mb-3">Цены на металлолом на сегодня</h3>
      <table class="table table-striped table-hover mb-0">
        <thead>
        <tr class="table-head main-head">
          <td class="col-8">Наименование</td>
          <td class="col-4">Цена</td>
        </tr>
        </thead>
      </table>

      <table class="table table-striped table-hover mb-0" *ngFor="let c of categoriesData; let i = index">
        <thead>
        <tr class="table-head">
          <td class="col-8">{{c.title}}</td>
          <td class="col-4"></td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of categoriesData[i].prices">
          <td><strong>{{item['title']}}</strong></td>
          <td>{{item['price']}} {{item['unit']}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
