.price
  background: #f2f2f2

.price-title
  font-weight: 800
  font-size: 30px

.main-head
  background: #266352
  text-align: center

.table-head td
  color: #fff
  font-weight: 800
  background: #128061

tbody tr td:nth-child(2)
  text-align: center
