.main-info
  color: #fff

.main-img
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center
  height: 70vh
  background: url("../../../assets/images/main-3.jpeg") 50% 27% no-repeat
  background-size: cover
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4)

.main-img-inner
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.main-title
  font-size: 57px
  font-weight: 800

.main-subtitle
  font-size: 30px

.main-info-btn
  background: #fff
  color: #000
  padding-top: 10px
  padding-bottom: 10px

.main-info-btn:hover
  background: #757575
  color: #fff

.contact-info
  color: #2c3745

.contact-card
  height: 100% !important
  border: none
  padding: 32px

.recall
  background: #e9e499

.address
  background: #cecebc

.schedule
  background: #aeaeae

.contact-title
  font-weight: 600

@media screen and (max-width: 500px)
  .btn-general
    font-size: 17px

  .main-img
    height: 60vh

@media screen and (max-width: 550px)
  .main-title
    font-size: 37px

  .main-subtitle
    font-size: 25px
