<div class="modal fade custom-modal" id="callbackModal" tabindex="-1" role="dialog" aria-labelledby="callbackModal"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header custom-modal-header">
        <div>
          <h5 class="modal-title custom-modal-title" id="exampleModalLongTitle">Обратный звонок</h5>
          <p class="mb-0">Пожалуйста, заполните данные. Мы вам перезвоним в ближайшее время.</p>
        </div>
        <button type="button" class="btn btn-secondary close-btn" data-bs-dismiss="modal" aria-label="Close">
          <img class="cancel-img" src="../../../assets/icons/cancel.svg" alt="Отмена">
        </button>
      </div>

      <div class="modal-body">
        <div class="callback-form">

          <form [ngClass]="(nameTouched && phoneTouched) && (name === '' || phone === '') ? 'was-validated' : ''"
                class="validate"
                data-toggle="validator"
                role="form"
                (ngSubmit)="onSubmit()">
            <div class="row g-3 justify-content-center align-items-center flex-wrap">

              <div class="col-10">
                <div class="input-group has-validation">
                  <input type="text" class="form-control" placeholder="Имя"
                         aria-describedby="inputGroupPrepend" name="name"
                         required [(ngModel)]="name" #nameInput (click)="onNameInput()"
                         maxlength="50"/>
                  <div class="invalid-feedback">
                    Введите имя!
                  </div>
                </div>
              </div>

              <div class="col-10">
                <div class="input-group has-validation">
                  <span class="input-group-text" id="inputGroupPrepend">+7</span>
                  <input type="text" class="form-control" name="phone"
                         aria-describedby="inputGroupPrepend" required [(ngModel)]="phone" #phoneInput
                         (click)="onPhoneInput()" (keyup)="onPhoneInput()" maxlength="13"/>
                  <div class="invalid-feedback">
                    Введите номер!
                  </div>
                </div>
              </div>

              <div class="form-group col-10">
                <div class="form-check d-flex">
                  <input class="form-check-input custom-check" type="checkbox"
                         value="" id="invalidCheck" required [(ngModel)]="checkInput" name="checkInput">
                  <label class="form-check-label" for="invalidCheck">
                    Я согласен на обработку персональных данных
                  </label>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="submit" class="btn button btn-general callback-btn"
                      [disabled]="isDisabled()" data-bs-dismiss="modal">Отправить
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
