.custom-modal-header
  position: relative

.custom-modal-title
  font-weight: 800

.close-btn
  position: absolute
  top: 10px
  right: 10px
  padding: 3px 8px

.cancel-img
  width: 14px
  height: 14px

.custom-check
  float: none
  margin-right: 10px
