.export-title
  font-size: 25px

.export-subtitle
  font-size: 20px
  font-weight: 800

.btn-wrap
  text-align: end

.btn-export
  background: #4f4f4f
  color: #fff
  padding-top: 10px
  padding-bottom: 10px

.btn-export:hover
  box-shadow: 5px 11px 13px 0 rgba(34, 60, 80, 0.2)

@media screen and (max-width: 991px)
  .btn-wrap
    text-align: center

  .export-info
    text-align: center

  .export-title
    font-size: 23px

  .export-subtitle
    font-size: 19px
