<div class="container py-5">
  <div class="mb-5">
    <p>Компания «Scrapline» – сеть современных пунктов приема металлолома в Санкт-Петербурге и Санкт-Петербургской
      области. На рынке
      металлоотхода успешно развиваемся с 2015 года, постоянно совершенствуя свой сервис и тарифы. Принимаем поставки
      вторсырья от заводов, предприятий, организаций, населения.
    </p>
    <p>
      Приемки работают по лицензии, официально. Мы сотрудничаем с крупнейшими заводами по вторичной переработке металла.
      Это позволяет устанавливать действительно достойные цены на лом.
    </p>
  </div>

  <div class="mb-5">
    <h3 class="fw-bold">Какие услуги предоставляет компания «Scrapline»?</h3>
    <p>Наши приемки ориентированы на сервис «под ключ». Не только принимаем на утилизацию черный и цветной лом, но и
      помогаем клиентам с резкой, вывозом, демонтажем металлоконструкций. В зависимости от потребности, клиент может
      воспользоваться такими услугами:</p>
    <ul>
      <li>прием чермета – без ограничения веса выкупаем сталь, чугун, другие сплавы железа;</li>
      <li>прием цветмета – предлагаем выгодные расценки на медь, бронзу, алюминий, нержавейку, свинец, др.;</li>
      <li>вывоз металлоотхода – на собственном транспорте доставляем Ваш лом в пункт выкупа;</li>
      <li>демонтаж металлоконструкций – оперативно и качественно разбираем промышленные здания, складские помещения,
        ангары, производственные станки, спецтранспорт, др.
      </li>
    </ul>
  </div>

  <div class="mb-5">
    <h3 class="fw-bold">Почему стоит обратиться в «Scrapline»?</h3>
    <p>Сервис компании «Scrapline» гарантирует своим клиентам неоспоримые преимущества:</p>
    <ul>
      <li>оперативная подготовка полного пакета отчетных документов (техпроект, акты приема, квитанции, др.);</li>
      <li>готовы купить металлоотход по самым выгодным расценкам, а за крупные поставки заплатим по повышенному
        тарифу;
      </li>
      <li>принимаем все категории лома производственного и бытового назначения;</li>
      <li>удобный формат оплаты (наличный/безналичный расчет);</li>
      <li>профессиональная команда демонтажников, инженеров, бригадиров с допусками к высотным и опасным работам;</li>
      <li>укомплектованный парк спецтехники (газорезки, манипуляторы, болгарки, автокраны, самосвалы) позволяет в разы
        быстрее выполнять разборку, вывозить любые объемы металлоотхода с территории заказчика.
      </li>
    </ul>
    <p>Остались вопросы – ждем Вашего звонка для детальной консультации. С нами процедура утилизации металлолома
      проходит быстро, выгодно и без хлопот!</p>
  </div>
</div>
