.footer
  background: #f2f2f2
  border-top: 1px solid #c9c9c9
  padding-top: 16px
  padding-bottom: 16px

.nav-wrap
  display: flex
  justify-content: space-between
  align-items: center

.logo
  display: block
  max-width: 108px
  height: auto

.footer-link
  text-decoration: none
  color: #000

.footer-link:hover
  color: #288cf4

@media screen and (max-width: 944px)
  .nav-wrap
    flex-direction: column !important
    justify-content: center !important

  .footer-nav
    margin-bottom: 16px

  .logo
    margin-bottom: 16px

  .contacts
    display: flex
    flex-direction: column
    align-items: center

@media screen and (max-width: 400px)
  .logo
    margin-bottom: 16px
