<footer class="footer">
  <div class="container">
    <div class="nav-wrap">
      <a routerLink="/">
        <img class="logo" src="../../../assets/images/logo.png" alt="Scrapline">
      </a>

      <ul class="nav footer-nav ms-md-4 ms-sm-2">
        <li class="ms-3">
          <a routerLink="/" class="footer-link">Главная</a>
        </li>
        <li class="ms-2">
          <a routerLink="/price" class="footer-link">Цены</a>
        </li>
        <li class="ms-2">
          <a routerLink="/about" class="footer-link">О нас</a>
        </li>
        <li class="ms-2">
          <a routerLink="/contacts" class="footer-link">Контакты</a>
        </li>
      </ul>

      <div class="contacts" *ngIf="contactsData">
        <p class="phone mb-0">{{contactsData[0].phone}}</p>
        <p class="address mb-0">{{contactsData[0].address}}</p>
      </div>
    </div>
  </div>
</footer>
