@media screen and (max-width: 1102px)
  .main-nav-wrap
    position: relative

  .main-nav
    position: absolute
    display: none

  .main-nav-inner
    flex-direction: column

  .nav-item
    padding-right: 32px
    padding-left: 32px
    margin-left: 0 !important

  .nav-item:hover
    background: rgba(0, 0, 0, 0.2)

  .toolbar-link:hover
    color: #000 !important

  .logo-wrap
    width: 150px

  .contacts
    position: absolute
    right: 54px
    width: 70%

  .toggler-btn
    display: block !important
    position: absolute
    right: 5px

@media screen and (max-width: 647px)
  .recall-btn
    display: none

  .contacts
    width: 50%

@media screen and (max-width: 450px)
  .phone-num
    font-size: 16px

@media screen and (max-width: 390px)
  .phone-num
    display: none

.toolbar-link
  color: #000

.toolbar-link:hover
  color: #288cf4

.logo-wrap
  display: flex
  align-items: center

.logo
  display: block
  max-width: 108px

.ic-wa
  max-width: 30px

.contacts
  display: flex
  justify-content: flex-end
  align-items: center

.toggler-btn
  border: none
  background: transparent
  display: none
  width: 40px
  height: 40px
  padding: 0

.burger-img
  width: 37px
  height: 37px

.open-menu
  background: #f2f2f2
  display: block
  position: absolute
  bottom: -196px
  right: 0
