<header class="navbar navbar-expand-lg">
  <nav class="container main-nav-wrap">
    <a class="navbar-brand logo-wrap" routerLink="/">
      <img class="logo" src="../../../assets/images/logo.png" alt="Scrapline">
    </a>

    <button type="button" class="toggler-btn" (click)="openMenu()">
      <img class="burger-img" src="../../../assets/icons/burger.svg" alt="Меню">
    </button>

    <div class="navbar main-nav ms-6" id="mainNav">
      <ul class="navbar-nav mr-auto main-nav-inner">
        <li class="nav-item ms-4">
          <a routerLink="/" class="nav-link toolbar-link" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">Главная</a>
        </li>
        <li class="nav-item ms-4">
          <a routerLink="/price" class="nav-link toolbar-link" routerLinkActive="active">Цены</a>
        </li>
        <li class="nav-item ms-4">
          <a routerLink="/about" class="nav-link toolbar-link" routerLinkActive="active">О нас</a>
        </li>
        <li class="nav-item ms-4">
          <a routerLink="/contacts" class="nav-link toolbar-link" routerLinkActive="active">Контакты</a>
        </li>
      </ul>
    </div>

    <div class="col-12 col-lg-6 contacts">
      <span class="ms-3 phone-num" *ngIf="contactsData">{{contactsData[0].phone}}</span>
      <a class="ms-3" href="https://wa.me/79213023222">
        <img class="ic-wa" src="../../../assets/icons/whatsapp.png" alt="WhatsApp">
      </a>
      <button type="button"
              class="btn button ms-3 btn-general recall-btn"
              data-bs-toggle="modal"
              data-bs-target="#callbackModal">Обратный звонок
      </button>
      <app-callback-modal></app-callback-modal>
    </div>
  </nav>
</header>
