.callback
  background: url("../../../assets/images/main-2-new.png") 36% 31% no-repeat
  background-size: cover
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4)
  height: 63vh

.callback-inner
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.callback-title
  font-size: 42px
  color: #fff
  font-weight: 800

.callback-subtitle
  font-size: 24px
  color: #fff

.callback-field
  background: #fff

.callback-btn:hover
  color: #fff
  background: #45a0ff

.custom-callback-btn:disabled
  background: #2d4054
  color: #fff
  border-color: #fff

@media screen and (max-width: 550px)
  .callback-title
    font-size: 30px

  .callback-subtitle
    font-size: 24px
