<div class="callback py-3 py-md-5 row justify-content-center align-items-center m-0">
  <div class="pe-0">
    <div class="container callback-inner py-3 py-md-5">
      <div class="callback-info">
        <h5 class="callback-title mb-md-3 mb-2">Закажите обратный звонок!</h5>
        <p class="callback-subtitle mb-md-5 mb-3">Оставьте свои контактные данные, и мы свяжемся с вами в течение пяти
          минут!</p>
      </div>

      <div>
        <form data-toggle="validator" role="form" (ngSubmit)="onSubmit()">
          <div class="row g-3 justify-content-center align-items-center flex-wrap">
            <div class="col-10 col-md-5">
              <div class="input-group has-validation">
                <input type="text" class="form-control"
                       placeholder="Имя" name="name" [(ngModel)]="name"
                       aria-describedby="inputGroupPrepend" required maxlength="50">
                <div class="invalid-feedback">
                  Введите имя!
                </div>
              </div>
            </div>

            <div class="col-10 col-md-5">
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">+7</span>
                <input type="text" class="form-control"
                       name="phone" [(ngModel)]="phone"
                       aria-describedby="inputGroupPrepend" required
                       #phoneInput (keyup)="onPhoneInput()" maxlength="13"
                >
                <div class="invalid-feedback">
                  Введите номер!
                </div>
              </div>
            </div>

            <div class="col-md col-12 form-group">
              <button type="submit"
                      class="btn button btn-general callback-btn custom-callback-btn" [disabled]="isDisabled()">Заказать
                звонок
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
