@font-face
  font-family: 'CustomFont'
  src: url('assets/fonts/TildaSans-Regular.ttf')

body
  color: #2c3745
  font-size: 18px
  font-family: CustomFont, Arial, sans-serif
  height: 100vh

.container
  max-width: 1200px
  padding: 0 16px
  margin: 0 auto

.btn-general
  font-size: 18px
  border-radius: 50px
  padding-right: 30px
  padding-left: 30px

.button
  background: #288cf4
  color: #fff

.button:hover
  box-shadow: 5px 11px 13px 0 rgba(34, 60, 80, 0.2)
  background: #288cf4
  color: #fff

.modal-open
  padding-right: 0 !important

.active
  color: #288cf4 !important

@media screen and (max-width: 500px)
  .container
    padding: 0 12px
