.contact-ic
  padding-left: 30px
  background-size: 20px !important

.address
  background: url("../../../assets/icons/loc.svg") 0 3px no-repeat

.phone
  background: url("../../../assets/icons/phone.svg") 0 3px no-repeat

.schedule
  background: url("../../../assets/icons/time.svg") 0 3px no-repeat

.mail
  background: url("../../../assets/icons/mail.svg") 0 3px no-repeat
