<div class="container py-5">
  <h2 class="mb-5 fw-bold">Контакты – «Scrapline»</h2>

  <iframe class="mb-5"
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A8bdcb0ea0f6197bacde1b383f8356106f64a4c9b3d9fd7acd14aa12e96078fcb&amp;source=constructor"
          width="100%" height="497" frameborder="0"></iframe>

  <div class="mb-5" *ngIf="contactsData">
    <h5 class="fw-bold mb-4">Контакты</h5>
    <p class="mb-2 contact-ic address">{{contactsData[0].address}}</p>
    <p class="mb-2 contact-ic phone">{{contactsData[0].phone}}</p>
    <p class="mb-2 contact-ic schedule">Время работы: {{contactsData[0].schedule}}</p>
    <p class="mb-2 contact-ic mail">{{contactsData[0].email}}</p>
  </div>

  <div>
    <h5 class="fw-bold mb-4">Свяжитеь с нами</h5>
    <p>Если у вас возникли вопросы, заполните форму.</p>

    <form data-toggle="validator" role="form" (ngSubmit)="onSubmit()">
      <div class="d-flex flex-column gap-3">
        <div class="col-10 col-md-5">
          <div class="input-group has-validation">
            <input type="text" class="form-control"
                   placeholder="Имя" name="name" [(ngModel)]="name"
                   aria-describedby="inputGroupPrepend" required maxlength="50"/>
            <div class="invalid-feedback">
              Введите имя!
            </div>
          </div>
        </div>

        <div class="col-10 col-md-5">
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">+7</span>
            <input type="text" class="form-control"
                   name="phone" [(ngModel)]="phone"
                   aria-describedby="inputGroupPrepend" required
                   (keyup)="onPhoneInput()" maxlength="13"/>
            <div class="invalid-feedback">
              Введите номер!
            </div>
          </div>
        </div>

        <div class="col-md col-12 form-group">
          <button type="submit"
                  class="btn button btn-general callback-btn">Отправить
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
